body {
    background-color: #E0E0E2;
    font-family: 'Markazi Text', serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

header>img{
    max-height: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav{
    display: flex;
}
nav ul {
    flex:1;
    text-decoration: none;
    list-style: none;
    text-align: center;
    justify-content: space-between;
	background-color: rgb(240, 236, 20);
	border-radius: 15%;
	border-color: rgb(194, 191, 18);
	border-style: solid;
}

nav ul a{
    text-decoration: none;
}

nav ul a:hover{
    font-size: x-large;
}

article>img{
    max-height: 10rem;
}
nav li {
    display: inline-block;
}

section{
    display: flex;
}

.form{
    text-align: center;
}

article{
    text-align: center;
    flex:1;
    margin: 1rem;
	border-radius: 5%;
	background-color: #d2d0d0;
    padding: 0 10px;
    box-shadow: #a4a4a4 0px 5px 11px 0px;
}

article p{
    margin: 1rem auto;
}

article img {
    display: block;
    margin: 1rem auto;
    mix-blend-mode: multiply;
    max-width: 80%;
    height: auto; 
}

article:hover, article p:hover, article img:hover{
    font-size: x-large;
    max-width: 100%;
    height: auto;
    
}

.orderButton{
    justify-content: center;
}


footer {
    text-align: center;
    display: flex;
}

footer div{
    margin-top: 5rem;
    flex:1;
}

footer img{
    max-height: 10rem;
}

h1 {
    color: #721817;
    font-size: 3rem;
}

h2 {
    color: #721817;
    font-size: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}

.center-text {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 > span {
    color: #FA9F42;
    font-size: 0.75em;
}

form > div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

input:focus:invalid {
    color: red;
    border: red 3px solid;
}